* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.top {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #000;
}

.top__content {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
}

.top__item {
    height: 231px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.shadow {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.icon {
    height: 70px;
    margin-top: 10px;
}

.title {
    font-weight: 600;
    font-size: 24px;
}

.text {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #666;
}

.top__link {
    font-weight: 600;
    font-size: 11px;
    color: #000;
}

.text__block {
    text-align: center;    
    padding-bottom: 60px;
    display: grid;
    justify-content: center;  
    gap: 30px;    
}

.headline {   
    font-size: 45px;
    font-weight: 600;    
}

.line{    
    width: 682px;    font-size: 16px;
    line-height: 150%;
    color: #666;      
}

.top__item__big {
    height: 549px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background: #fff;
}

.text__item{
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #aaa;
    text-align: center;
}

.button {    
    padding-left: 47px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
    border-radius: 50px;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    display: flex;
    gap: 5px;
}

.background{
    background: #fafafa;
}