* {
    margin: 0;
    padding: 0;
    border: none;    
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.header__menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.punkt{
    color: wheat;
}

.line{
    font-size: large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}