* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
    text-decoration: none;
}

.custom__center {
    padding-left: calc(50% - 481px);
    padding-right: calc(50% - 481px);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 30px 0 rgba(30, 47, 73, 0.1);
    background: #fff;
}

.header__link {
    padding-left: 4px;
    background: none;
}

.header__link__start {
    margin-left: 16px;
    margin-right: 16px;
    background: none;
}

.header__link__end {
    margin-right: 16px;
    padding-left: 54px;
    background: none;
}

.headline {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 23px;
    margin-left: 16px;
    margin-right: 16px;
}

.title {
    font-weight: 800;
    font-size: 22px;
    color: #4f4f4f;
    padding-bottom: 12px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    color: #828282;
}

.banners__block {
    margin-left: 16px;
    margin-right: 16px;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 20px;
}

.banner {
    position: relative;
}

.banner__bgr {
    width: 446px;
    /*box-shadow: 5px 5px 15px 0 rgba(133, 4, 60, 0.4);*/
    filter: drop-shadow(5px 5px 15px rgba(133, 4, 60, 0.4));
}

.banner__bgr1 {
    width: 446px;
    filter: drop-shadow(5px 5px 15px rgba(65, 17, 206, 0.4));
}

.title__banner {
    width: 175px;
    font-size: 22px;
    color: #fff;
    position: absolute;
    top: 55px;
    left: 50px;
}

.description {
    width: 175px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 114px;
    left: 50px;
}

.description__1 {
    width: 175px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 129px;
    left: 50px;
}


.product {
    padding-top: 60px;
    padding-bottom: 23px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}


.product__photo {
    width: 446px;
    filter: drop-shadow(5px 5px 15px rgba(133, 4, 60, 0.4));
}

.product__title {
    font-weight: 600;
    font-size: 18px;
    color: #828282;
}

.product__text{
    font-weight: 445;
    font-size: 18px;
    color: #828282;
    width: 400px;
}

.button__block {
    padding-top: 50px;
}

.button__block__basic {
    padding-top: 50px;
    text-align: center;
}

.button {
    text-align: center;
    border-radius: 15px;
    padding: 15px 25px;
    width: 168px;
    height: 50px;
    color: white;
    box-shadow: 5px 5px 10px 0 rgba(3, 69, 231, 0.3);
    background: linear-gradient(124deg, #5591f1 0%, #1153fc 100%);
    font-weight: 600;
}