* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

.top {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 99px;
}

body {
    font-family: sans-serif;
    background: #020a18;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #171818;

}

.header__link {
    color: #fff;
    padding-right: 30px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    color: #fff;    
}

.subtitle {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 40px;
}

.top__buttons {
    margin-top: 50px;
}

.button {
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background: #3a68b8;
}

.poligon {
    margin-right: 10px;
    height: 19px;
    width: 19px;
}
.top__logos{
    text-align: center;
}
.top__img{
    padding-right: 30px;
    
}