* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

.center {
    padding-left: calc(50vw - 570px);
    padding-right: calc(50vw - 570px);
}


.type__block {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.type__item {  
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.type__item__bgrd-1 {
    height: 260px;
    width: 360px; 
    background-image: url(img/top_banner_women.jpg);
}

.type__item__bgrd-2 {
    height: 260px;
    width: 360px; 
    background-image: url(img/top_banner_men.jpg);
}

.type__item__bgrd-3 {
    height: 260px;
    width: 360px; 
    background-image: url(img/top_banner_kids.jpg);
}

.type__item__bgrd-4 {
    height: 180px;
    width: 1142px; 
    background-image: url(img/top_banner_accesories.jpg);
}



.type__item__text {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.type__item__text-1 {    
    font-size: 24px;
    font-weight: 700;
    color: #F16D7F;
    text-align: center;
}

.h1 {
    font-weight: 400;
    font-size: 30px;
    color: #222;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
}

h3 {
    max-width: 324px;
    font-weight: 400;
    font-size: 13px;
    color: #000;
    margin-top: 24px;
    margin-left: 18px;
}

.paragraph-1 {
    max-width: 324px;
    font-weight: 400;
    font-size: 14px;
    color: #5d5d5d;
    margin-top: 20px;
    margin-left: 18px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    color: #f16d7f;
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 24px;
}

.off {
    display: none;
}

.mobyle__on {
    display: none;
}

@media (max-width: 1140px) {
    .center {
        padding-left: calc(50vw - 368px);
        padding-right: calc(50vw - 368px);
    }

    .type__block {
        gap: 20px;
    }

    .type__item__bgrd-1 {
        height: 168px;
        width: 233px; 
        background-image: url(img/top_banner_women_mini.jpg);
    }
    
    .type__item__bgrd-2 {
        height: 168px;
        width: 233px; 
        background-image: url(img/top_banner_men_mini.jpg);
    }
    
    .type__item__bgrd-3 {
        height: 168px;
        width: 233px; 
        background-image: url(img/top_banner_kids_mini.jpg);
    }
    
    .type__item__bgrd-4 {
        height: 118px;
        width: 735px; 
        background-image: url(img/top_banner_accesories_mini.jpg);
    }

    .off {
        display: flex;
    }

    .on {
        display: none;
    }

}

@media (max-width: 736px) {
    p {
        max-width: 314px;
    }

    h3 {
        max-width: 314px;
    }

    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .type__block {
        gap: 32px;
    }

    .type__item__bgrd-1 {
        height: 247px;
        width: 343px; 
        background-image: url(img/top_banner_women.jpg);
    }
    
    .type__item__bgrd-2 {
        height: 247px;
        width: 343px; 
        background-image: url(img/top_banner_men.jpg);
    }
    
    .type__item__bgrd-3 {
        height: 247px;
        width: 343px; 
        background-image: url(img/top_banner_kids.jpg);
    }
    
    .type__item__bgrd-4 {
        height: 111px;
        width: 343px; 
        background-image: url(img/top_banner_accesories.jpg);
    }


    .off {
        display: none;
    }

    .mobyle__off {
        display: none;
    }

    .mobyle__on {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 374px) {
    .center {
        padding-left: 0;
        padding-right: 0;
    }


}